<Layouts.flash_group flash={@flash} />

<Layouts.app flash={@flash}>
  <div class="text-center">
    <div>
      Welcome to the Ory auth sandbox!
    </div>
    <div class="mt-4">
      Use the links in the top right to manage your auth session.
    </div>
  </div>
</Layouts.app>
